* {
    box-sizing: border-box;  
    padding: 0;
    margin: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.list > a {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
    font-size: 24px;
    width: max-content;
    background-color: grey;
}

.desc {
    width: max-content;
    background-color: grey; 
}
